* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

section {
    width: 100%;
    display: flex;
    margin-top: 15rem;
    padding: 2rem;
}

.section-container {
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

.left-content {
    padding: 9rem;
    background-color: gray;
    border-radius: 10px 0 0 10px;
}

.right-content {
    padding: 9rem;
}

.inputs {
    display: flex;
    flex-direction: column;
}
