main {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 1.5rem 0;
    border: 1px solid black;
    border-radius: 15px;
}

.nodata {
    font-size: 21px;
    padding: 0 1rem;
    text-align: center;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 400;
    padding: 0.6rem;
    text-align: center;
}

.table-container {
    display: flex;
    width: 80%;
    overflow-x: auto;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

.table-container th{
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 21px;
}

.table-container td{
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
}

.saida {
    color: #FF0000;
}

.entrada {
    color: #32C505;
}

#typeGraphic {
    margin-top: 1rem;
    padding: 0.6rem 0.6rem;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #FF0000;
    outline: 0;
}

button {
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FF0000;
    border-radius: 15px;
    color: #FF0000;
}

button:hover {
    background-color: rgba(216, 216, 216, 0.2);
}

@media screen and (max-width: 425px){
    .section-title > h2 {
        font-size: 32px;
    }

    section.section-container {
        width: 90%;
    }
}

@media screen and (max-width: 850px){
    main {
        height: auto;
        padding-top: 2rem;
    }

    section.section-container {
        width: 80%;
    }

    #typeGraphic {
        width: 70%;
    }
}

@media screen and (max-width: 1500px){
    .section-container {
        width: 60%;
    }

    .table-container {
        margin: 0 auto;
    }
}